<div class="grid">


    <div class="col-12">
        <div class="card">
            <h5>Editar Alumno</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname2">Firstname</label>
                    <input pInputText id="firstname2" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname2">Lastname</label>
                    <input pInputText id="lastname2" type="text" />
                </div>
                <div class="field col-12">
                    <label htmlFor="address">Address</label>
                    <input pInputTextarea id="address" rows="4" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="city">City</label>
                    <input pInputText id="city" type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="state">State</label>
                    <p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="zip">Zip</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class=" col-6">
                    <button pButton class="p-button-outlined mb-2" label="Regresar" [routerLink]="['/dashboard']"
                        routerLinkActive="router-link-active"></button>
                </div>
                <div class=" col-6">

                    <button pButton label="Editar" [routerLink]="['/dashboard/admin/alumno']"></button>
                </div>
            </div>
        </div>
    </div>
</div>